<app-menu></app-menu>
        <span style="padding-right:120px; padding-left: 35%;">
        <img src="assets/MAX Logo.svg.png" with= "350" height="150"> 
        </span>  
          <style>
            body {
              background-image: url('assets/pyramid.jpg');
              background-repeat: no-repeat;
              background-attachment: center;  
              background-size: 120% 100%;
            
            }
            </style>
            <body>
        <div class id="slider">
            <figure>
                    <img src="assets/MySQL.png">
                    <img src="assets/spring.png">
                    <img src="assets/java.png">
                    <img src="assets/TypeScript.png">
                    <img src="assets/fix-your-html.png">
                    <img src="assets/Angular.png">
                    <img src="assets/MySQL.png">
            </figure>
        </div>
    </body>    
  
   

           

